.card-custom {
    width: 100%;
    max-width: 100%;  /* đảm bảo không vượt ra ngoài */
    height: 180px;    /* chiều cao cố định */
    overflow: hidden; /* cắt phần ảnh thừa */
    border-radius: 12px;
}

.card-custom:hover {
    transform: scale(1.02);
}

.card-custom img {
    width: 100%;
    height: 100%;          /* cho ảnh bằng đúng chiều cao khung */
    object-fit: cover;     /* cắt và phủ ảnh */
    object-position: center center;
    display: block;
}

.card-body-custom {
    padding: 15px;
    flex-grow: 1;
}

.card-meta {
    font-size: 0.9rem;
    color: #777;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-title-custom {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.card-text-custom {
    font-size: 0.95rem;
    color: #555;
}

