<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
<link href="layoutadmin.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:fragment="header" class="header">
	<div class="left_content">
		<img src="images/baner.png" alt="Logo" class="logo">
	</div>
	<div class="right_content">
		<nav>
			<a>Do Cao Minh Quan</a>
		</nav>
	</div>
</div>
<div th:fragment="navs" class="container_navb">
  <div class="d-flex justify-content-center">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/topic/all">Topic-List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="topic/add">Topic-AddNew</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Student-List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Student-AddNew</a>
      </li>
    </ul>
    <div class="right_content">
		<img src="images/right.jpg" alt="right_images" class="conntet">
	</div>
  </div>
</div>


<div th:fragment="footer" class="footer">
		<p>&copy; Do Cao Minh Quan - FIT.NTU</p>
</div>
</body>
</html>