<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link href="styleadmin.css" rel="stylesheet">
</head>
<body>
	<div th:fragment="header" class="header">
	<div class="navbar">
	<a href ="#" class='name'>
	
			Do Cao Minh Quan
		</a>
		
	</div>
	</div>
	<div th:fragment="content" class="content">
		<img src="/images/sildebar.jpg" alt="anh">
	</div>
	<div th:fragment="footer" class="footer">
		<p>&copy; 2025 Copyright by Do Cao Minh Quan</p>
	</div>
</body>
</html>