.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 406%; 
  margin: auto; 
  padding: 20px;
  background-color: #556B2F;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
  height: 86vh; 
}

.form_container h2 {
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
  width: 100%; /* Đảm bảo các input chiếm đủ chiều rộng trong container */
}

.form-group label {
  font-size: 18px;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input {
  width: 150%; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.btn-primary {
  background-color: #99af75;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center; /* Căn giữa nút Đăng Ký */
}

.btn-primary:hover {
  background-color: #7e9659;
}
