@charset "UTF-8";
.home{
	width: 100%;
    height: calc(100vh - 100px); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #556B2F;
    color: #ffff;
    text-align: center;
    gap:20px;
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    border-radius: 10px;

}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    padding-bottom: 5px;
}

.text{
	display: flex;
    flex-direction: column; /* Xếp text theo cột */
    align-items: flex-start; /* Căn text về bên trái */
    justify-content: center; /* Căn giữa text theo chiều dọc */
    max-width: 50%;
    padding-top: 6rem;
}
.text h1 {
    font-size: 36px;
    font-weight: bold;
}

.anh{
	
    position: relative;
    top: 3rem;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    justify-content: center;
}
pre {
    text-align: left;
    white-space: pre; 
    font-family: monospace;
    margin-left: 0; 
    padding-left: 0; /
}