/* Định dạng chung cho header */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.header{
    padding: 10px;
}

.navbar{
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4EFEB;
    padding: 10px 30px;
    border-radius: 15px;
}

body{
	background-color: #ccc;
}

/* Định dạng cho tên */
.name {
    color: #5A7B90;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Hiệu ứng khi di chuột vào tên */
.name:hover {
    color: #f0a500;
}

.logo {
    width: 40px; /* Điều chỉnh kích thước logo */
    height: 40px;
    border-radius: 50%; /* Bo tròn logo nếu cần */
    object-fit: cover; /* Đảm bảo ảnh không méo */
}



.footer {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4157;
    color: #F4EFEB;
    bottom: 0;
}


.content{
	grid-row: span 5 / span 5;
    grid-column-start: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content img{
	width: 100%;
	height: 100%; 
    object-fit: cover; 
    border-radius: 10px; 
    
}
    
        